@import "color.scss";
@import "fonts.scss";
#activities_main_content{
	//font-family: 'Josefin Sans', sans-serif;
    width: 800px;
    height: 2300px;
    margin-left: 100px;
    p{
        font-size: .75em;
        text-align: left;
    }
    table{
        border-spacing: 0px;
        width: 100%;
        border: solid black 1px;
        
    }
    td{
        width: 700px;
        height: auto;
        padding-left: 15px;
        padding-right: 25px;
        text-align: left;
        font-size: .5em;
        border: solid black 1px;
    }
    h4{
        color: $menu_back_color;
    }
}
a{
    text-decoration: none;
    color: $menu_back_color;
}
a:visited{
    color: $menu_back_color;
}

#activitiestitle{
    font-size: 30px;
    text-align: left;
}

#activities_main_content{
	height: auto;
	padding-bottom: 100px;
	table{
		width: 500px;
		height: 200px;
		text-align: center;
		td{
			padding: 5px;
		}
	}
}
.button2{
    color: $menu_back-color;
    background-color: white;
    border-radius: 6px;
    border: solid gainsboro 2px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    padding: 5px;
    padding-top: 10px;
    margin-top: 10px;
}

h4{
	text-transform: uppercase;
}
