@import "color.scss";
@import "fonts.scss";

#data_main_container{

  #graphContainer{
    height: 300px;
    width: 500px;
    margin-left: 200px;
    float: left;
    margin-bottom: 100px;

  }
  #barContainer{
    height: 300px;;
    width: 500px;
    margin-right: 300px;
    margin-bottom: 200px;
    float: right;


  }


}
