@import "color.scss";
@import "fonts.scss";
#gallery_main_content{
    margin-left: 100px; 
       min-width: 650px;
		max-width: 800px;
    height: 2300px;
    margin-left: 100px;
}

#gallery_form{
    width: 500px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-right: 500px;
    padding: 20px;
    background-color: white;
    float: left; 
}

#gallery_images{
    width: 960px;
    height: 600px; 
    padding: 0px;
    background-color: $body_color;
    p{
        width: 400px;
        height: 350px;
        margin: 0px;
        float: left;
        font-size: .7em;
        margin-bottom: 10px;
        img{
            width: 380px;
            height: auto;
            margin: 0px;
        }
    }
}
.button{
    color: $menu_back_color;
    background-color: $body_color; 
    border-radius: 6px;
    border: solid gainsboro 2px; 
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    padding: 5px;
    padding-top: 10px;
    margin-top: 10px;

}