#login{
	margin: auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 600px;
}

form{
	padding: 10px;
	background-color: white;
	height: auto;
	width: 250px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 30px;
}

a{
	padding-top: 20px;
}
