@import "color.scss";
#login{
	margin: auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 600px;
	form{
		padding: 10px;
		background-color: white;
		height: auto;
		width: 350px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding-bottom: 30px;
		p{
			width: 100%;
			display: flex;
			flex-direction: row;
			justify-content: center;
			input[type="text"], input[type="password"]{
				width: 200px;
			}
		}
	}

	a{
		padding-top: 20px;
	}
}


#login{
	height: 800px;
}

#login-schedule{
	min-height: 200px;
	height: auto;
}

#schedule-img{
	height: 300px;
	border: 1px solid red;
	width: auto;
	background-image: url(../schedule/schedule.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

#btn{
    color: $menu_back_color;
    background-color: $body_color; 
    border-radius: 6px;
    border: solid gainsboro 2px; 
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    padding: 5px;
    padding-top: 10px;
    margin-top: 10px;

}