@import "color.scss";

	.main_container{
		min-width: 1110px;
		max-width: 1600px;
		margin: auto;
	}
 #menubar{
		 width: 100%;
		 height: 60px;
		 background-color: $menu_back_color;
		 color: $menu_font_color;
		 font-size: 20px;
		 border-top-left-radius: 3px;
		 border-top-right-radius: 3px;
		 table{
				 float: right;
				 border-spacing: 5px;
				 margin-left: 15px;
				 margin-right: 15px;
				 vertical-align: center;
		 }
		 td{
				 border-style: solid;
				 padding: 10px;
				 border-radius: 3px;
				 margin: 50px;
				 border-width: 1.5px;
				 border-spacing: 20px;
				 text-decoration-line: underline;
		 }
		 a{
				 color: white;
				 text-decoration: none;
				 font-family: arial;
				 margin: 15px;
		 }
		 img{
				 float: left;
				 height: 50px;
				 width: auto;
				 margin: 5px;
		 }
 }
 #headerpic{
		 width: 100%;
		 height: auto;
		 vertical-align: bottom;

 }
 #body{
		 background-color:$body_color;
		 width: 100%;
		 height: 600px;
		 font-family: arial;
		 font-size: 30px;
 }
 #tagline{
		 width: 100%;
		 text-align: center;
		 font-family: arial;
		 font-size: 30px;
		 padding: 30px;
		 color: black;
		 margin: 0;

 }
 #mission{
		 width: 800px;
		 font-size: 16px;
		 background-color: $mission_back_color;
		 margin-left: auto;
		 margin-right: auto;
		 padding: 20px;
		 text-align: justify;

 }
 #blockhouse{
		 width: 870px;
		 margin-left: auto;
		 margin-right: auto;
		 border-radius: 3px;
 }

 .headshot{
		 margin: auto;
		 width: 200px;
		 height: auto;
 }

 #title{
		 font-family: arial;
		 clear: center;
		 font-size: 10em;
		 text-align: center;
		 color: white;
		 position: absolute;
		 bottom:0%;
		 left: 0%;
		 top: 25%;
		 vertical-align: bottom;
		 padding: 0;
 }

 #body{
	  table{
		 border-spacing: 20px;
		 width: 880px;
		 margin: auto;
	 }
		 td{
				width: 250px;
				height: 250px;
				padding: 10px;
				background-color: $box_color;
				text-align: center;
			}
 }
