@import "color.scss";
@import "fonts.scss";
.item{
	height: auto;
	p{
		margin-left: 5px;

	}
}
.price{
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 40px;
}
.item-name{
    display: flex;
	flex-direction: row;
	align-items: center;
	height: 40px;
}

.email{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 100px;
	padding: 0px !important;
	input{
		height: 20px;
		width: 150px;
		margin-left: 5px;
	}
	h4{
		margin: 0px !important;
	}
}
.quantity{
	height: 40px;
	display: flex;
	flex-direction: row;
	align-items: center;
	input{
		height: 30px;
		width: 100%;
		margin-left: 5px;
	}

}
.button2{
    color: $menu_back-color;
    background-color: white;
    border-radius: 6px;
    border: solid gainsboro 2px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    padding: 5px;
    padding-top: 10px;
		margin: auto;
		width: auto;

}
#store-wrap{
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-align: left;

}

#store_main_content{
	//font-family: 'Josefin Sans', sans-serif;

    min-width: 650px;
		max-width: 800px;
    height: auto;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    h1{
        text-align: left;
    }
    p{
        font-size: .75em;
        text-align: left;
    }

    h4{
        color: $menu_back_color;
    }
	padding-bottom: 100px;
	form{
		p{
			text-align: center ;
		}
		display: flex;
		justify-content: center;
		flex-direction: column;
	}
    h3{
        min-width: 650px;
        max-width: 800px;
        height: auto;
    }
}

.store-images-container{
	height: auto;
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
	flex-wrap: wrap;
}
.store-img{
	background-color: $menu_back_color;
	height: 200px;
	width: 200px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
    img{
        height: 180px;
        width: 180px;
        margin: 10px;
    }
}
